
.title-container {
  background-color: rgb(131, 33, 33);
}

.title {
  color: white;
  font-size: 2rem;
}

button.event-search {
  border-style: none;
  width: inherit;
  padding: 1em;
  background-color: rgb(131, 33, 33);
}

button.event-search:focus, button.event-search:active {
background-color: rgb(131, 33, 33);
}

.outline {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

a.credit-link {
  color: black !important;
  text-decoration: underline;
}